<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MyDLL" culture="neutral" publicKeyToken="78e132bf668d3a7f" />
        <codeBase version="1.1.1.1" href="C:\Windows\Microsoft.NET\Framework\v4.0.30319\MyDLL.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>