<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- 方法2： -->
      <!-- 程序集ver2需放在：GAC -> 当前目录 -> privatePath指定目录（第一个查找到程序集的目录之前） -->

      <!-- 如果先查找v1.1.1.1目录，找到ver1就停止了。 -->
      <!-- 由于下面配置指定了重定向到ver2，因此无法再加载ver1，程序无法运行。 -->
      <!-- <probing privatePath="v1.1.1.1;v2.2.2.2;"/> -->
      <probing privatePath="v2.2.2.2;v1.1.1.1;"/>

      <dependentAssembly>
        <assemblyIdentity name="AssemblyDLL" culture="neutral" publicKeyToken="78e132bf668d3a7f" />
        <bindingRedirect oldVersion="1.1.1.1" newVersion="2.2.2.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>