<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- 方法3： -->
      <!-- 程序集ver2需放在：GAC -> codeBase指定的目录 -->

      <!-- 不会再查找：当前目录 + privatePath指定目录 -->
      <probing privatePath="v1.1.1.1;v2.2.2.2;"/>

      <dependentAssembly>
        <assemblyIdentity name="AssemblyDLL" culture="neutral" publicKeyToken="78e132bf668d3a7f" />
        <bindingRedirect oldVersion="1.1.1.1" newVersion="2.2.2.2" />
        <codeBase version="2.2.2.2" href="v2.2.2.2\AssemblyDLL.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>