<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- 方法1： -->
      <!-- 程序集ver2需放在：GAC -> 当前目录 -->
      <dependentAssembly>
        <assemblyIdentity name="AssemblyDLL" culture="neutral" publicKeyToken="78e132bf668d3a7f" />
        <bindingRedirect oldVersion="1.1.1.1" newVersion="2.2.2.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>