<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="v1.1.1.1;v2.2.2.2;"/>

      <!-- 方法2： -->
      <!-- 指定codeBase【publicKeyToken=""或"null"】，并指定ver2所在目录。 -->
      <dependentAssembly>
        <assemblyIdentity name="AssemblyDLL" culture="neutral" publicKeyToken="" />
        <!-- 对于未签名程序集，version属性不起作用 -->
        <codeBase version="3.3.3.3" href="v2.2.2.2\AssemblyDLL.dll" />
        <!-- <codeBase href="v2.2.2.2\AssemblyDLL.dll" /> -->
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>