<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- 方法1： -->
      <!-- 不指定codeBase：顺序查找子目录，找到就停止。 -->
      <!-- 因此，在ver1存在时，想加载ver2，必须先指定ver2所在目录 -->
      <!-- <probing privatePath="v1.1.1.1;v2.2.2.2;"/> -->
      <probing privatePath="v2.2.2.2;v1.1.1.1;"/>

      <!-- 限定：不能指定codeBase【publicKeyToken=""或"null"】。可以指定codeBase【publicKeyToken="xxxx"】-->
      <dependentAssembly>
        <assemblyIdentity name="AssemblyDLL" culture="neutral" publicKeyToken="78e132bf668d3a7f" />
        <codeBase version="3.3.3.3" href="v3.3.3.3\AssemblyDLL.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>