<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="TestAssembly"
                          publicKeyToken="78e132bf668d3a7f"
                          culture="neutral" />
        <!-- Redirecting to version 2.2.2.2 of the assembly. -->
        <bindingRedirect oldVersion="1.0.1.1-1.9.9.0"
                         newVersion="2.2.2.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>