<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- 指定查找子目录 -->
      <probing privatePath="PrivatePath"/>

      <!-- 指定查找目录（只能是子目录） -->
      <!-- 未签名程序集，指定了codeBase（publicKeyToken=""或"null"），即使未搜索到程序集，也不会再查找根目录和privatePath指定的子目录 -->
      <dependentAssembly>
        <assemblyIdentity name="AssemblyDLL" culture="neutral" publicKeyToken="null" />
        <!-- <codeBase href="CodeBase\AssemblyDLL.dll" /> -->
        <!-- 指定查找版本号 -->
        <codeBase version="1.1.1.1" href="CodeBase\AssemblyDLL.dll" />
      </dependentAssembly>

      <!-- 指定查找目录（外部/子目录） -->
      <!-- 强命名程序集，指定了codeBase（publicKeyToken="xxxxxxxx"），即使未搜索到程序集，也不会再查找根目录和privatePath指定的子目录 -->
      <dependentAssembly>
        <assemblyIdentity name="AssemblyDLL" culture="neutral" publicKeyToken="78e132bf668d3a7f" />
        <codeBase version="1.1.1.1" href="CodeBase\AssemblyDLL.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>